In [1]:
import MySQLdb
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine
conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')

In [2]:
data = pd.read_sql('SELECT * \
                   FROM gbp_pred_new;', conn)
data.head()

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday
0,2000-01-01,1.615700,-0.000700,0,0,1,5
1,2000-01-02,1.615000,0.005512,1,0,0,6
2,2000-01-03,1.626724,0.011001,1,1,1,0
3,2000-01-04,1.637002,0.005804,1,1,1,1
4,2000-01-05,1.638331,0.005379,1,0,0,2

In [6]:
g = data['gbp_gradient_binary'].as_matrix()
c = data['correct'].as_matrix()

In [7]:
usdx_gradient = data['gbp_gradient'].as_matrix()
temp = np.zeros(6348)
index = np.logical_and(g, c)
temp[index] = usdx_gradient[index]
data['gbp_gradient_up_correct'] = temp
data.head()

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday,gbp_gradient_up_correct
0,2000-01-01,1.615700,-0.000700,0,0,1,5,0.000000
1,2000-01-02,1.615000,0.005512,1,0,0,6,0.000000
2,2000-01-03,1.626724,0.011001,1,1,1,0,0.011001
3,2000-01-04,1.637002,0.005804,1,1,1,1,0.005804
4,2000-01-05,1.638331,0.005379,1,0,0,2,0.000000

In [8]:
usdx_gradient = data['gbp_gradient'].as_matrix()
temp = np.zeros(6348)
index = np.logical_and(g, np.logical_not(c))
temp[index] = usdx_gradient[index]
data['gbp_gradient_up_error'] = temp
data.head()

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday,gbp_gradient_up_correct,gbp_gradient_up_error
0,2000-01-01,1.615700,-0.000700,0,0,1,5,0.000000,0.000000
1,2000-01-02,1.615000,0.005512,1,0,0,6,0.000000,0.005512
2,2000-01-03,1.626724,0.011001,1,1,1,0,0.011001,0.000000
3,2000-01-04,1.637002,0.005804,1,1,1,1,0.005804,0.000000
4,2000-01-05,1.638331,0.005379,1,0,0,2,0.000000,0.005379

In [9]:
usdx_gradient = data['gbp_gradient'].as_matrix()
temp = np.zeros(6348)
index = np.logical_and(np.logical_not(g), c)
temp[index] = usdx_gradient[index]
data['gbp_gradient_down_correct'] = temp
data.head()

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday,gbp_gradient_up_correct,gbp_gradient_up_error,gbp_gradient_down_correct
0,2000-01-01,1.615700,-0.000700,0,0,1,5,0.000000,0.000000,-0.0007
1,2000-01-02,1.615000,0.005512,1,0,0,6,0.000000,0.005512,0.0000
2,2000-01-03,1.626724,0.011001,1,1,1,0,0.011001,0.000000,0.0000
3,2000-01-04,1.637002,0.005804,1,1,1,1,0.005804,0.000000,0.0000
4,2000-01-05,1.638331,0.005379,1,0,0,2,0.000000,0.005379,0.0000

In [10]:
usdx_gradient = data['gbp_gradient'].as_matrix()
temp = np.zeros(6348)
index = np.logical_and(np.logical_not(g), np.logical_not(c))
temp[index] = usdx_gradient[index]
data['gbp_gradient_down_error'] = temp
data.head()

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday,gbp_gradient_up_correct,gbp_gradient_up_error,gbp_gradient_down_correct,gbp_gradient_down_error
0,2000-01-01,1.615700,-0.000700,0,0,1,5,0.000000,0.000000,-0.0007,0.0
1,2000-01-02,1.615000,0.005512,1,0,0,6,0.000000,0.005512,0.0000,0.0
2,2000-01-03,1.626724,0.011001,1,1,1,0,0.011001,0.000000,0.0000,0.0
3,2000-01-04,1.637002,0.005804,1,1,1,1,0.005804,0.000000,0.0000,0.0
4,2000-01-05,1.638331,0.005379,1,0,0,2,0.000000,0.005379,0.0000,0.0

In [11]:
data

,timestamp,gbp,gbp_gradient,gbp_gradient_binary,gbp_gradient_binary_pred,correct,weekday,gbp_gradient_up_correct,gbp_gradient_up_error,gbp_gradient_down_correct,gbp_gradient_down_error
0,2000-01-01,1.615700,-0.000700,0,0,1,5,0.000000,0.000000,-0.000700,0.000000
1,2000-01-02,1.615000,0.005512,1,0,0,6,0.000000,0.005512,0.000000,0.000000
2,2000-01-03,1.626724,0.011001,1,1,1,0,0.011001,0.000000,0.000000,0.000000
3,2000-01-04,1.637002,0.005804,1,1,1,1,0.005804,0.000000,0.000000,0.000000
4,2000-01-05,1.638331,0.005379,1,0,0,2,0.000000,0.005379,0.000000,0.000000
5,2000-01-06,1.647760,-0.000018,0,1,0,3,0.000000,0.000000,0.000000,-0.000018
6,2000-01-07,1.638294,-0.005630,0,0,1,4,0.000000,0.000000,-0.005630,0.000000
7,2000-01-08,1.636500,-0.000897,0,0,1,5,0.000000,0.000000,-0.000897,0.000000
8,2000-01-09,1.636500,0.000268,1,0,0,6,0.000000,0.000268,0.000000,0.000000
9,2000-01-10,1.637037,0.005684,1,1,1,0,0.005684,0.000000,0.000000,0.000000
10,2000-01-11,1.647868,0.004998,1,0,0,1,0.000000,0.004998,0.000000,0.000000
11,2000-01-12,1.647033,-0.000087,0,1,0,2,0.000000,0.000000,0.000000,-0.000087
12,2000-01-13,1.647693,-0.005462,0,1,0,3,0.000000,0.000000,0.000000,-0.005462
13,2000-01-14,1.636108,-0.007347,0,0,1,4,0.000000,0.000000,-0.007347,0.000000
14,2000-01-15,1.633000,-0.001554,0,0,1,5,0.000000,0.000000,-0.001554,0.000000
15,2000-01-16,1.633000,-0.001257,0,1,0,6,0.000000,0.000000,0.000000,-0.001257
16,2000-01-17,1.630486,0.002369,1,0,0,0,0.000000,0.002369,0.000000,0.000000
17,2000-01-18,1.637738,0.006481,1,1,1,1,0.006481,0.000000,0.000000,0.000000
18,2000-01-19,1.643449,0.008453,1,1,1,2,0.008453,0.000000,0.000000,0.000000
19,2000-01-20,1.654645,0.003455,1,1,1,3,0.003455,0.000000,0.000000,0.000000
20,2000-01-21,1.650359,-0.003523,0,1,0,4,0.000000,0.000000,0.000000,-0.003523
21,2000-01-22,1.647600,-0.000929,0,0,1,5,0.000000,0.000000,-0.000929,0.000000
22,2000-01-23,1.648500,0.002300,1,0,0,6,0.000000,0.002300,0.000000,0.000000
23,2000-01-24,1.652200,-0.000176,0,1,0,0,0.000000,0.000000,0.000000,-0.000176
24,2000-01-25,1.648148,-0.006698,0,0,1,1,0.000000,0.000000,-0.006698,0.000000
25,2000-01-26,1.638805,-0.006025,0,1,0,2,0.000000,0.000000,0.000000,-0.006025
26,2000-01-27,1.636098,-0.009311,0,0,1,3,0.000000,0.000000,-0.009311,0.000000
27,2000-01-28,1.620183,-0.007899,0,0,1,4,0.000000,0.000000,-0.007899,0.000000
28,2000-01-29,1.620300,0.000058,1,0,0,5,0.000000,0.000058,0.000000,0.000000
29,2000-01-30,1.620300,-0.001071,0,1,0,6,0.000000,0.000000,0.000000,-0.001071
...,...,...,...,...,...,...,...,...,...,...,...
6318,2017-05-03,1.291403,-0.000085,0,0,1,2,0.000000,0.000000,-0.000085,0.000000
6319,2017-05-04,1.291714,0.001716,1,0,0,3,0.000000,0.001716,0.000000,0.000000
6320,2017-05-05,1.294835,0.003174,1,1,1,4,0.003174,0.000000,0.000000,0.000000
6321,2017-05-06,1.298063,0.001634,1,1,1,5,0.001634,0.000000,0.000000,0.000000
6322,2017-05-07,1.298103,-0.002057,0,1,0,6,0.000000,0.000000,0.000000,-0.002057
6323,2017-05-08,1.293949,-0.002179,0,1,0,0,0.000000,0.000000,0.000000,-0.002179
6324,2017-05-09,1.293745,-0.000104,0,0,1,1,0.000000,0.000000,-0.000104,0.000000
6325,2017-05-10,1.293740,-0.002609,0,0,1,2,0.000000,0.000000,-0.002609,0.000000
6326,2017-05-11,1.288526,-0.002881,0,0,1,3,0.000000,0.000000,-0.002881,0.000000
6327,2017-05-12,1.287979,0.000076,1,0,0,4,0.000000,0.000076,0.000000,0.000000
6328,2017-05-13,1.288678,0.000362,1,1,1,5,0.000362,0.000000,0.000000,0.000000
6329,2017-05-14,1.288703,0.001511,1,1,1,6,0.001511,0.000000,0.000000,0.000000
6330,2017-05-15,1.291701,0.001125,1,1,1,0,0.001125,0.000000,0.000000,0.000000
6331,2017-05-16,1.290953,0.001342,1,1,1,1,0.001342,0.000000,0.000000,0.000000
6332,2017-05-17,1.294385,0.004923,1,1,1,2,0.004923,0.000000,0.000000,0.000000
6333,2017-05-18,1.300799,0.003591,1,1,1,3,0.003591,0.000000,0.000000,0.000000
6334,2017-05-19,1.301567,0.001241,1,1,1,4,0.001241,0.000000,0.000000,0.000000
6335,2017-05-20,1.303280,0.000909,1,1,1,5,0.000909,0.000000,0.000000,0.000000
6336,2017-05-21,1.303385,-0.001348,0,1,0,6,0.000000,0.000000,0.000000,-0.001348
6337,2017-05-22,1.300583,-0.002681,0,0,1,0,0.000000,0.000000,-0.002681,0.000000
6338,2017-05-23,1.298024,-0.003568,0,0,1,1,0.000000,0.000000,-0.003568,0.000000
6339,2017-05-24,1.293447,-0.001341,0,0,1,2,0.000000,0.000000,-0.001341,0.000000
6340,2017-05-25,1.295343,-0.007097,0,0,1,3,0.000000,0.000000,-0.007097,0.000000
6341,2017-05-26,1.279254,-0.007511,0,0,1,4,0.000000,0.000000,-0.007511,0.000000
6342,2017-05-27,1.280321,0.000490,1,0,0,5,0.000000,0.000490,0.000000,0.000000
6343,2017-05-28,1.280234,0.002103,1,1,1,6,0.002103,0.000000,0.000000,0.000000
6344,2017-05-29,1.284527,0.002857,1,1,1,0,0.002857,0.000000,0.000000,0.000000
6345,2017-05-30,1.285948,0.002730,1,1,1,1,0.002730,0.000000,0.000000,0.000000
6346,2017-05-31,1.289987,0.001688,1,0,0,2,0.000000,0.001688,0.000000,0.000000
6347,2017-06-01,1.289324,-0.000663,0,1,0,3,0.000000,0.000000,0.000000,-0.000663

In [12]:
engine = create_engine("mysql+mysqldb://news:"+'newsnews'+"@54.65.19.253/news")
conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')

In [14]:
data.to_sql(con=engine, name='gbp_pred_for_show', if_exists='replace', index=False) #replace